@using System.Data;

@model List<City> 
@{
    ViewData["Title"] = "Home Page";
}



@*<div class="col-md-4">
    <select class="form-select" id="il-select">
        <option selected disabled>İl Seçiniz</option>
        @foreach (var item in Model)
        {
            <option value="@item.Id">@item.City_Name</option>
        }
    </select>
</div>
<div class="col-md-4" id="ilce-select">
</div>
<div class="col-md-4" id="semt-select">
 
</div>


<button id="addAdres">Gönder</button>*@

@*
<div style="display: flex; align-items: center; background-color: #cce6ff; padding: 10px;">
    <div style="flex-grow: 1;">
        <select class="form-select" id="il-select">
            <option selected disabled>İl Seçiniz</option>
            @foreach (var item in Model)
            {
                <option value="@item.Id">@item.City_Name</option>
            }
        </select>
    </div>
    <div style="flex-grow: 1;" id="ilce-select"></div>
    <div style="flex-grow: 1;" id="semt-select"></div>
    <button id="addAdres" style="margin-left: 10px;">Gönder</button>
</div>*@

<div style="display: flex; align-items: center; background-color: #cce6ff; padding: 10px;">
    <div style="flex-grow: 1;">
        <select class="form-select" id="il-select">
            <option selected disabled>İl Seçiniz</option>
            @foreach (var item in Model)
            {
                <option value="@item.Id">@item.City_Name</option>
            }
        </select>
    </div>
    <div style="flex-grow: 1;" id="ilce-select">
        <select class="form-select">
            <option selected disabled>İlçe Seçiniz</option>
        </select>
    </div>
    <div style="flex-grow: 1;" id="semt-select">
        <select class="form-select">
            <option selected disabled>Semt Seçiniz</option>
        </select>
    </div>
    <button type="button" class="btn btn-primary" id="addAdres" style="margin-left: 10px;">Gönder</button>
</div>
<script>

    //$('#sendMessageBtn').click(function () {
    //    var message = $('#messageInput').val(); // Kullanıcının girdiği mesajı alıyoruz
    //    $.ajax({
    //        url: '/Home/GetIlceler',
    //        type: 'POST',
    //        data: { sehirId: message },
    //        success: function (data) {
    //            console.log('Mesaj gönderildi.');
    //        },
    //        error: function (error) {
    //            console.log('Hata oluştu: ' + error);
    //        }
    //    });
    //});

    //$(function () {
    //    $('#il-select').change(function () {
    //        var ilName = $(this).text();
    //        console.log(ilName + 'il select sec calısıyor.');
    ///*        var ilName = $(this).text(); */// Seçilen ilin id'sini al
    //        if (ilId) {
    //            $.ajax({
    //                        url: '/Home/GetIlceler',
    //                        type: 'POST',
    //                        data: { sehirAdi: ilName },
    //                        success: function (data) {
    //                    console.log('Mesaj gönderildi.' + data);
    //                        },
    //                        error: function (error) {
    //                            console.log('Hata oluştu: ' + error);
    //                        }
    //                    });
    //        } else {
    //            // Eğer herhangi bir il seçimi yapılmadıysa ilçe ve semt seçeneklerini sıfırla
    //            $('#ilce-select').empty().append($('<option>').text('İlçe Seçiniz').attr('disabled', true).attr('selected', true)).attr('disabled', true);
    //            $('#semt-select').empty().append($('<option>').text('Semt/Mahalle Seçiniz').attr('disabled', true).attr('selected', true)).attr('disabled', true);
    //        }
    //    });

</script>








